@model OpenPriceConfig.Models.Configurator
@{
    ViewData["Title"] = "Hisselektronik - Priskonfiguratorn";
}

<h2>Hisselektronik - Priskonfigurator</h2>
<form asp-action="GeneratePrice">
    <div class="form-horizontal">
        <h4>Hisstyp</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label for="NUMBER_OF_FLOORS" class="col-md-2 control-label">Number of floors</label>
            <div class="col-md-10">
                <input name="NUMBER_OF_FLOORS" id="NUMBER_OF_FLOORS" type="number" min="2" max="@Model.FloorsNumber" class="form-control" />
                <span class="text-danger field-validation-valid" data-valmsg-for="NUMBER_OF_FLOORS" data-valmsg-replace="true"></span>
                @*<span asp-validation-for="Tag" class="text-danger" />*@
            </div>
        </div>

        @foreach (var item in Model.Options)
        {
            @:
            <div class="form-group">
                <label class="col-md-2 control-label">@item.Name</label>
                <div class="col-md-10">
                    @switch (item.InputType)
                    {
                        case Option.InputTypes.Checkbox:
                            <input type="checkbox" name="ITEM_@item.ID"/>
                            break;
                        case Option.InputTypes.Numeric:
                            <input type="number" name="ITEM_@item.ID"/>
                            break;
                        case Option.InputTypes.Option:
                            <input type="radio" name="OPTION_@item.OptionTag" value="@item.ID" />
                            break;
                        case Option.InputTypes.Text:
                            <input type="text" name="ITEM_@item.ID"/>
                            break;
                    }
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generera pris" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }